<% 
# File: _enterprise_group_ranking.html.erb
# Purpouse: This view communicates with the method that groups the enterprises based on the number of sanction it haves.
# License: GPL v3
# Group 10 Tecprog
# FGA - Universidade de Brasília - Campus Gama
%>

<div class="container">
	<div id="titulo_ranking"><h2><%= t('Lista de empresas com') %> <%="#{@quantidade}"%> <%= t('sanções') %></h2>
		<hr>
	</div>

	<%@enterprises_by_sanctions.each_with_index do |e, index| %>
		<h3><%= index +1 %> )   <%= link_to e.corporate_name, e %><br></h3>
	<% end %>
	
	<%= will_paginate @enterprises_by_sanctions,  renderer: BootstrapPagination::Rails %>
</div>