<h1>
<%= t('enterprise') %>
<br />
<%= t('payment') %>
<br />
<%= t('sanction_type') %>
<br />
<%= t('sanction') %>
<br />
<%= t('state') %>
<br />
<%= t('user') %>
<br />
<p><%= l(@example_date) %></p>
<br />
</h1>